.settings-profile-container {
	display: flex;
	flex-direction: row;
}

.club-logo-wrapper {
	height: 200px;
	width: 200px;
	border-radius: .25rem;
	border-width: 1px;
	border-color: #fafafa;
	padding: 2px;
	background-color: rgba(0,0,0,.03);
}

.settings-card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
